/* GENERAL */
body {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
.header {
    background-color: #aaa;
    height: 500px;
}

.header_navbar {
    background: #4F4F4F;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
    align-items: center;
}

.navbar ul {
    justify-self: end;
}

.container {
    max-width: 820px;
    margin: auto;
}

ul.navbar_items {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-content: space-between;
    width: 350px;
}

.navbar_items li {
    list-style: none;
}

.navbar_logo,
.navbar_items a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
