/* GENERAL */
body {
    font-family: 'Roboto', sans-serif;
    /* width: 100%; */
}

.header, main {
    /* display: grid; */
}

/* HEADER */
.header_navbar {
    background: #4F4F4F;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 150px) minmax(auto, 750px) 1fr;
    margin: auto;
}

.navbar_logo {
    grid-column: 2 / 3;
    align-self: center;
    justify-self: start;
}

.navbar_items {
    grid-column: 3 / 4;
    justify-self: end;
    display: flex;
}

.container {
    max-width: 900px;
    margin: auto;
}

.navbar_items li {
    list-style: none;
}

.navbar_logo,
.navbar_items a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 0 10px 20px;
}

.header_body {
    background: #7800FF;
    color: #fff;
    padding: 35px;
    min-height: 28rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.header_body {
    display: grid;
    justify-content: center;
    text-align: center;
}

.title, 
.subtitle {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 38px;
}

.subtitle {
    font-size: 24px;
}

.profile_picture img {
    border-radius: 50%;
    opacity: .9;
    border: 5px solid #aaa;
}

.profile_footer {
    font-weight: bold;
    font-size: 24px;
    margin: -20px 0 0;
    padding: 0;
}

.profile_footer p {
    line-height: 1.2em;
}

/* MAIN */
.main {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 900px) 1fr;
}

.main_item {
    grid-column: 2 / 3;
}

.aceleradev p {
    font-size: 1.4em;
    color: #aaa;
    font-weight: 600;
}

.main_item .title {
    margin: 50px 0;
}

/* MAIN - Challenge */
.challenges {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 400px));
    justify-content: space-between;
    grid-gap: 50px;
}

.card {
    padding: 35px;
    background: #4F4F4F;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #fff;
}

.card_header {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.card_header p {
    display: inline-block;
    font-weight: bold;
    font-size: 1.5em;
}

.module {
    background:#fff;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
}

.module_text {
    color: #4F4F4F;
    font-weight: bold;
}

.module_number {
    font-size: 2.5em;
    font-weight: bold;
    color: #4F4F4F;
}

/* MAIN - Contact */
.contact-list {
    display: flex;
    padding: 0;
    margin: 0;
}

.contact-list li {
    list-style: none;
    padding: 15px;
}

/* FOOTER */
.footer {
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
}

.footer_nav {
    background: #7800FF;
    padding: 10rem 5rem 2rem;
}

.navbar-footer {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.footer a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.footer-made {
    background: #4F4F4F;
    color: #fff;
    font-weight: bold;
    display: grid;
    justify-content: center;
}
